
body {
    background-color: #E6E6FA;
}

* {
    font-family: 'Heebo', sans-serif !important;
}

::-webkit-scrollbar {
    width: 13px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #DCD0F5; 
    border-radius: 5px;
  }
 
  ::-webkit-scrollbar-thumb {
    background: #452881; 
    border-radius: 10px;
  }
